/* @import './styles/tailwind.css'; */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ece6ff;
    height: 100vh;
    margin: 0;
    padding: 0;
};

h2 {
    font-size: 28px;
    margin: 0px 0px 20px 0px;
}

input, select {
    font-family: 'Montserrat', sans-serif;
    height: 36px;
    border-radius: 4px;
    border: none;
    margin-right: 5px;
    font-size: 14px;
    width: 100%;
}

select {
    font-family: 'Montserrat', sans-serif;
    color: #82589F;
}

input:focus, select:focus {
    outline: none;
}

input::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: #999;
    font-style: italic; 
    position: relative;
    left: 6px;
}

button {
    font-family: 'Montserrat', sans-serif;
    height: 38px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #82589F;
    color: white;
    padding: 0px 20px;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #D6A2E8;
}

.title {
    font-size: 68px;
    text-align: center;
    padding: 20px 0;
    color: #82589F;
    font-weight: bold;
    margin-right: 4px;
}

.title-second {
    font-size: 70px;
    text-align: center;
    padding: 20px 0;
    color: #D6A2E8;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section {
    display: flex; 
    flex-direction:column; 
    padding: 20px;
    padding-bottom: 40px;

    background-color: #e0d6ff;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 8px;

    box-shadow: 0px 10px 15px -3px #e0d6ff;
}

.classroom{
    flex: 2
}
.students{
    flex: 2
}
.books{
    flex: 4
}
.rounds{
    flex: 4
}

.section-separator {
    border-bottom: 1px dashed white;
    margin-top: 16px;
    margin-bottom: 10px;
}

.list-div {
    margin-top: 16px;
}

.list-item {
    display: flex;
    border: 1px dashed #9b59b6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 8px;
    align-items: center;
    height: 20px;
}

.list-item.active{
    display: flex;
    border: 1px solid #82589F;
}

.list-item:hover .list-item-delete {
    display: block;
}

.list-item-delete {
    display: none;
    margin-left: auto;
    cursor: pointer;
}

.list-item > .active-text{
    margin-left: auto;
}

.classroom .list-item {
    background-color: #e3daff;
    border: 1px dashed #bdc3c7;
    color: #2c3e50;
    cursor: pointer;
}

.classroom .list-item.active{
    display: flex;
    border: 1px solid #82589F;
    font-weight: 400;
}

.classroom .list-item:hover {
    border: 1px dashed white;
}

.classroom .list-item.active:hover{
    border: 1px solid #82589F;
}

.main-section {
    display: flex;
};

.round-title {
    font-size: 28px;
}

.round-title-container {
    display: flex;
    margin-top: 18px
}

.round-title {
    font-size: 20px;
}

.round-date{
    font-size: 14px;
    margin-left: auto;
    margin-top: 10px;
}

.delete-round{
    margin-left: auto;
    cursor: pointer;
}
.delete-round span{
    margin-left: auto;
}

/* Media query to change styles for screens less than 700px */
@media (max-width: 1440px) {
    .main-section {
        display: flex;
        flex-direction: column;
    };
  }
  



