@keyframes heartbeat {
    0% {
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
    }
  
    50% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }
  
    100% {
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
    }
  }

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    background-color: #ece6ff;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 28px;
    margin: 0px 0px 20px 0px;
    font-weight: 200;
    color: #82589F;
}

h3 {
    font-weight: 200; 
    margin-top: 8px;
    margin-left: auto;
    color: #82589F;
}

input, select {
    font-family: 'Montserrat', sans-serif;
    height: 36px;
    border-radius: 4px;
    border: none;
    margin-right: 5px;
    font-size: 14px;
    width: 100%;
}

select {
    font-family: 'Montserrat', sans-serif;
    color: #82589F;
}

input:focus, select:focus {
    outline: none;
}

input::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: #999;
    font-style: italic; 
    position: relative;
    left: 6px;
}

button {
    font-family: 'Montserrat', sans-serif;
    height: 38px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #82589F;
    color: white;
    padding: 0px 20px;
    font-size: 16px;
    width: 100%;
    font-weight: 200;
}

button:hover {
    background-color: #D6A2E8;
}

button:disabled {
    background-color: #dfe6e9;
    color: #82589F;
    cursor: default;
    opacity: 0.9;
}

button:disabled:hover {
    background-color: #dfe6e9;
}

.title {
    font-size: 68px;
    text-align: center;
    padding: 20px 0;
    color: #82589F;
    font-weight: 100;
    margin-right: 4px;
}

.title-second {
    font-size: 70px;
    text-align: center;
    padding: 20px 0;
    color: #D6A2E8;
    font-weight: 100;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section {
    display: flex; 
    flex-direction:column; 
    padding: 20px;
    padding-bottom: 40px;

    background-color: #e0d6ff;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.classroom{
    flex: 2
}
.students{
    flex: 2
}
.books{
    flex: 4
}
.rounds{
    flex: 4
}

.section.rounds.clean {
    border: 1px solid #ffd1d5;
    animation: heartbeat 1s infinite;
    transform-origin: center;
}

.section.rounds .clean {
    color: #c44569;
}

.section-separator {
    border-bottom: 1px dashed white;
    margin-top: 16px;
    margin-bottom: 10px;
}

.list-div {
    margin-top: 16px;
}

.list-item {
    display: flex;
    border: 1px dashed #9b59b6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 8px;
    align-items: center;
    height: 20px;
    font-weight: 200;
}

.list-item.classroom > span {
    margin-right: 5px;
    position: relative;
    top: -2px;
    color: #82589F;
}

.list-item.student > span:nth-child(1) {
    margin-right: 5px;
    color: #82589F;
}

.student-books-count {
    margin-left: auto;
    margin-right: 20px;
    font-size: 12px;
    cursor: default;
}
.student-books-count.error {
    color: #e74c3c;
    font-weight: 400;
}

.list-item.book {
    cursor: pointer;
}

.list-item.book > .book-display > span {
    margin-right: 5px;
    color: #82589F
}

.list-item.book > .book-display span:nth-child(2) {
    margin-left: 15px;
}

.list-item.book.not-available {
    background-color: #f8e187;
    border: 1px dashed #f39c12;
}

.book-not-available {
    display: flex;
    align-items: center;
    color: #e74c3c;
    font-weight: 400;
}

.book-not-available span {
    margin-left: 5px;
    position: relative;
    top: 2px;
    cursor: default;
}

.list-item.book:hover {
    border: 1px dashed #D6A2E8;
}

.list-item.active{
    display: flex;
    border: 1px solid #82589F;
}

.list-item-delete {
    margin-left: auto;
    cursor: pointer;
    position: relative;
    top: 2px;
}

.student > .list-item-delete {
    margin-left: 0;
}

.list-item-delete:hover, .delete-round:hover {
    color: #c44569;
}

.list-item > .active-text{
    margin-left: auto;
}

.list-item.assignment {
    border: 1px solid #82589F;
    font-weight: 400;
}

.list-item.assignment.not-returned {
    border: 1px dashed gray;
    font-weight: 400;   
    color: gray;
}

.list-item.assignment > span:nth-child(1) {
    margin-right: 5px;
    color: #82589F;
}

.classroom .list-item {
    background-color: #e3daff;
    border: 1px dashed #bdc3c7;
    color: #2c3e50;
    cursor: pointer;
}

.classroom .list-item.active{
    display: flex;
    border: 1px solid #82589F;
    font-weight: 400;
    background-color: #d9cdff;
}

.classroom .list-item:hover {
    border: 1px dashed white;
}

.classroom .list-item.active:hover{
    border: 1px solid #82589F;
}

.main-section {
    display: flex;
};

.round-title {
    font-size: 28px;
}

.round-title-container {
    display: flex;
    margin-top: 18px;
    align-items: center;
}

.round-title {
    font-size: 20px;
}

.round-date{
    font-size: 14px;
    margin-left: auto;
}

.round-info{
    display: flex;
}

.round-info span {
    cursor: pointer;
    margin-right: 8px;
    font-weight: bold;
}

.round-info .disabled > span {
    cursor: default;
    color: #82589F;
    font-weight: 200;
    color: white;
}

.delete-round{
    margin-left: auto;
    cursor: pointer;
}
.delete-round span{
    margin-left: auto;
}

.book-display {
    display: flex;
    align-items: center;
}

.book-display .book-name {
    margin-right: 20px;
}

.book-display .book-assigned {
    font-size: 14px;
    margin-right: 10px;
}

.book-display .book-owner {
    font-size: 12px;
    margin-right: 20px;
}

.book-display .book-owner.error {  
    color: #e74c3c;
    font-weight: 400;
}

.popup {
    font-family: 'Montserrat', sans-serif;
    background-color: #ece6ff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.popup Button {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    color: white;
}

.popup Button:nth-child(1) {
    background-color: #ece6ff;
    border-color: #82589F;
    color: #82589F;
}

.popup Button:nth-child(1):hover {
    background-color: #ece6ff;
    border-color: white;
}

.remove-popup Button {
    background-color: #c0392b;
}

.remove-popup Button:hover {
    background-color: #e74c3c;
}

.generate-round-popup Button {
    background-color: #27ae60;
}

.generate-round-popup Button:hover {
    background-color: #2ecc71;
}

.actions-container {
    display: flex;
    gap: 32px;
}

.dev-environment-header {
    background-color: #27ae60;
    padding: 5px;
    color: white;
    text-align: center;
}

/* Media query to change styles for screens less than 700px */
@media (max-width: 1440px) {
    .main-section {
        display: flex;
        flex-direction: column;
    };

    .list-item {
        font-weight: 400;
    }
  }